.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.navbar span {
  width: 10%;
  margin-left: 20px;
}

.nav-items {
  width: 90%;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: #fff;
}